

.c-Btn-Wrapper {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  @include u-media-smx {
    padding-left: 0;
    padding-right: 0;
  }

  letter-spacing: -4rem;
  > * {
    letter-spacing: 0;
    margin-top: 16px;
    &:not(:last-child) {
      margin-right: 32px;
    }
    @include u-media-smx {
      margin-top: 8px;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  &2 {
    padding-top: 8px;
    padding-left: 16px;
    
    > * {

      margin-right: 24px;
      @include  u-media-xlx {
        margin-top: 16px;
      }
    }
  } 
}

.c-Chip-Wrapper {
  margin-top: 8px;
}