.js-Modal {
  display: none;
}

.js-Modal__cover {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  cursor: pointer;
  z-index: 10;
}

